:root{
  --text-color: #fff;
  --header-footer-background-color: rgba(33,37,41,1);
  --main-background-color: #bdbdbd;
  --rating-star-color: #dcff4f;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a{
    text-decoration: none;
  }

  .cart-badge{
    position: relative;
    top: -10px;
    left: -10px;
  }
  .header-container{
    display: flex;
    justify-content: space-between;
  }
  .cart-profile-container{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .user-profile{
    background-color: #dcff4f;
    display: flex;
    text-align: center;
    align-items: center;
  }

  .site-container{
    min-height: 100vh;
  }

  main{
    flex: 1;
    background-color: var(--main-background-color);
  }

  footer{
    background-color: var(--header-footer-background-color);
    padding: 1rem;
    color: var(--text-color);

    a{
      color: var(--text-color);
      font-weight: bold;
    }
  }

  .rating span {
    color: var(--rating-star-color);
  }

  .col-container {
    display: table;
  }
  .col{
    display: table-cell;
  }
  .card-product{
    background-color: #c1c1c1;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    position: relative;
  }
  .card-product-description{
    min-height: 100px;
  }
  .card-product-rating{
    position: absolute;
    bottom: 16px;
    width: 85%;
  }

  .img-large{
    max-width: 100%;
  }

  .spinner-border{
    color: var(--text-color);
  }

  .products-title{
    color: var(--text-color);
    text-align: center;
    margin: 1rem auto;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .img-thumbnail{
    height: 80px;
  }
  .small-container{
    max-width: 600px;
  }

  .checkout-steps > div{
    border-bottom: .2rem solid #a0a0a0;
    color: #a0a0a0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .checkout-steps > div.active{
    border-bottom: .2rem solid #f08000;
    color: #f08000;
  }
}